#username{
    background-color:powderblue;;
}

#userCourse{
    background-color:powderblue;
}

h1 {
    margin: 0px;
    padding: 0px;
}
h1.page-header {
    margin: 0;
    padding: 0;
}

#userCourse{
    margin: 0px;
    padding: 0px;
}

#sentMessage{
    background-color: #00bfff;
    border-radius: 5px;
    left: 0;
}

input[type=text] {
    position: absolute;
    bottom: 0;
    border: 2px solid #00bfff;
    border-radius: 5px;
    padding: 0px;
    width: 400px;
    height: 50px;
  }
  

#closeChatButton {
    position: absolute;
    background-color: red;
    width: 22px;
    height: 20px;
    top: 20px;
    right: 40px;
    cursor: pointer;
    z-index:220;
  }